@charset "utf-8";
/* skin - blue */
#colortype-blue.main,
#colortype-blue #gnb2Dep,
#colortype-blue .mTab3 li.selected,
#colortype-blue .mDate .month dt.selected,
#colortype-blue .mBoard4 tbody tr.selected,
#colortype-blue .mBoard4 tfoot,
#colortype-blue .playerNum .con .info2,
#colortype-blue .mSearch2,
#colortype-blue .mSearch2 .keyword,
#colortype-blue .mLions21 .tableCon,
#colortype-blue .mLions21 .co .imgTxt,
#colortype-blue .mTab1 li.selected a,
#colortype-blue .it3,
#colortype-blue .mAttach .lst .ls li.selected,
#colortype-blue .mArticle2 .tit2,
#colortype-blue #popRManage .bd .con2,
#colortype-blue .mReply .write,
#colortype-blue .mReply .write .textarea,
#colortype-blue .mBoard2 .admin td,
#colortype-blue .popZipcode .ft,
#colortype-blue .mForm2 .info,
#colortype-blue .mPicture .navi ul,
#colortype-blue .mTab2 li.selected a,
#colortype-blue .mList4,
#colortype-blue .iLive .reply .warn,
#colortype-blue .mPopup .ft,
#colortype-blue .playerNum .direct .bd li a,
#colortype-blue .historyFront .navi li,
#colortype-blue .historyTeam .tab ul li.selected .tit,
#colortype-blue .lProfile{background-color:#9fcfff;} /* light blue */

#colortype-blue .popZipcode .hd h1{color: #2a3a71;}

#colortype-blue,
#colortype-blue .lionMedia,
#colortype-blue .mSearch select,
#colortype-blue .mSearch .keyword,
#colortype-blue .mTab4 li.selected a,
#colortype-blue .mBoard4 thead th,
#colortype-blue #gnb2Dep ul li.selected,
#colortype-blue .playerNum .find .back .t,
#colortype-blue .mBoard2 thead th,
#colortype-blue .mBoard2 table,
#colortype-blue .introGrid1,
#colortype-blue .lCutoff,
#colortype-blue .it,
#colortype-blue .it input,
#colortype-blue .popZipcode .bd,
#colortype-blue .popZipcode .bd .search .keyword,
#colortype-blue select,
#colortype-blue .iLive,
#colortype-blue .iLive .reply .write .textarea,
#colortype-blue .mBoard3 tbody th,
#colortype-blue .playerNum .direct .bd li.selected a,
#colortype-blue .playerNum .direct .bd li a:hover,
#colortype-blue .historyFront .list dd .detail,
#colortype-blue .mBox2 .list,
#colortype-blue textarea,
#colortype-blue .mList1 li .img .i,
#colortype-blue .playerNews{background-color:#00f;} /* dark blue */

#colortype-blue,
#colortype-blue body,
#colortype-blue li,
#colortype-blue th,
#colortype-blue td,
#colortype-blue label,
#colortype-blue h1,
#colortype-blue h2,
#colortype-blue h3,
#colortype-blue h4,
#colortype-blue input,
#colortype-blue button,
#colortype-blue p,
#colortype-blue a,
#colortype-blue .lionMedia .bd li .txt li,
#colortype-blue .mIntro2 .lst li .d,
#colortype-blue .breadcrumb em,
#colortype-blue .mSearch .keyword,
#colortype-blue .mIntro .bd .titleBg .t,
#colortype-blue .mIntro .bd .titleBg h4,
#colortype-blue .mTitle4 h3 em,
#colortype-blue .mTitle4 .s,
#colortype-blue .mTitle4 .s2,
#colortype-blue .greeting .con1 .co .thank em,
#colortype-blue .greeting .con1 .co .thank,
#colortype-blue .greeting .con1 .co .t,
#colortype-blue .greeting .con1 .co .t em,
#colortype-blue .ceoKimin .sign span,
#colortype-blue .mList1 li .tit,
#colortype-blue .mList1 li .tit em,
#colortype-blue .mList1 li .txt,
#colortype-blue .mList1 li .dat,
#colortype-blue .photoMovie .con .ti,
#colortype-blue .fanGrid3 .con .ti,
#colortype-blue .history .con dt,
#colortype-blue .history .con dd,
#colortype-blue .bestPlayer .list li .txt .n span em,
#colortype-blue .bestPlayer .list li.first .txt .n span,
#colortype-blue .bestPlayer .list li.first .txt .n,
#colortype-blue .bestPlayer .list li em,
#colortype-blue .bestPlayer .list li,
#colortype-blue .bestPlayer .list li .txt .n span,
#colortype-blue .bestPlayer .list li .txt .n,
#colortype-blue .rgResult .list .mTxt8,
#colortype-blue .toSeason .mDate .year .tit,
#colortype-blue #gnb2Dep ul li.selected a,
#colortype-blue .mDate .year .tit,
#colortype-blue .mTxt1,
#colortype-blue .mTxt2,
#colortype-blue .mTxt3,
#colortype-blue .mTxt4,
#colortype-blue .mTxt5,
#colortype-blue .mTxt6,
#colortype-blue .mTxt7,
#colortype-blue .mTxt8,
#colortype-blue .playerNum .find label,
#colortype-blue .playerNum .find .back .t,
#colortype-blue .mLions21 .co .t,
#colortype-blue .mBoard2dl .title,
#colortype-blue .mBoard2dl dt .num,
#colortype-blue .mBoard2dl dt .dat,
#colortype-blue .mBoard2dl dt .tit,
#colortype-blue .mBoard2dl dd .t,
#colortype-blue .mCount2 .c1 strong,
#colortype-blue .mCount2 .c1 em,
#colortype-blue .mCount2 .c1,
#colortype-blue .mCount2 .tx em,
#colortype-blue .mCount1,
#colortype-blue .mCount1 em,
#colortype-blue .mAttach .tot,
#colortype-blue .mAttach .lst .ti,
#colortype-blue .mAttach .tot .gLeft strong,
#colortype-blue .mAttach .tot .gLeft em,
#colortype-blue .mAttach .lst strong.t,
#colortype-blue .mAttach .lst .name,
#colortype-blue .mAttach .lst .size,
#colortype-blue .mProfile .txt strong,
#colortype-blue .mProfile .txt,
#colortype-blue #popRManage .bd .con1,
#colortype-blue #popRManage .bd .con3 p,
#colortype-blue .mReply ul li .txt .ti .da,
#colortype-blue .mReply ul li .txt .ti .na a em,
#colortype-blue .lCutoff,
#colortype-blue .mList1 .bd li em,
#colortype-blue .login .more li,
#colortype-blue .mFind1 .bd .con .tit,
#colortype-blue .mTitle1 h2 em,
#colortype-blue .mTitle1 h3 em,
#colortype-blue .mFind2 .bd legend,
#colortype-blue .modifyPw .mForm1 .input .mInfo2,
#colortype-blue .mForm1 .input label em,
#colortype-blue .registerStep4 .con p .tx em,
#colortype-blue .registerStep4 .con .tit,
#colortype-blue .popZipcode .bd .search .keyword,
#colortype-blue .mTitle3 h3 em,
#colortype-blue .mInfo2,
#colortype-blue select,
#colortype-blue .mForm1 .image .tit,
#colortype-blue .mInfo3 em,
#colortype-blue .mForm2 .con .tit,
#colortype-blue .frontstep dt,
#colortype-blue .frontstep dd em,
#colortype-blue .frontstep dd .t,
#colortype-blue .frontstep dt,
#colortype-blue .greeting .con1 .info em,
#colortype-blue .ceoKimin .info .t2,
#colortype-blue .ceoKimin .info .t3,
#colortype-blue .ceoKimin .info .t4,
#colortype-blue .greeting .con h6,
#colortype-blue .greeting .con dt em,
#colortype-blue .greeting .con dd .t,
#colortype-blue .mBoard2 tbody td.tit .re,
#colortype-blue .statium .con2 .co .list li .t,
#colortype-blue .statium .con2 .co .list li .c,
#colortype-blue .statiumDaegu .con2 .gRight .co li .t,
#colortype-blue .statiumDaegu .con2 .gRight .co li .c,
#colortype-blue .mVr .gRight .tit,
#colortype-blue .mVr .gRight li .tx,
#colortype-blue .subsidiary .hd h5,
#colortype-blue .subsidiary .con2 .gLeft .t,
#colortype-blue .subsidiary .bd .gRight .t,
#colortype-blue .subsidiary .con3 dd .t,
#colortype-blue .subsidiary .con3 dd .t2,
#colortype-blue .subsidiary .con4 dt,
#colortype-blue .introManager .score .t,
#colortype-blue .introManager .score .d,
#colortype-blue .introManager .score .w,
#colortype-blue .introManager .score em,
#colortype-blue .playerGraph .hd .link .t,
#colortype-blue .mTab2 li a span,
#colortype-blue .mScore2 .sco,
#colortype-blue .mScore2 .vs,
#colortype-blue .mScore2 .sco,
#colortype-blue .mScore2 .nam,
#colortype-blue .mScore2 img,
#colortype-blue .mScoreDetail .gLeft,
#colortype-blue .mScoreDetail .gRight,
#colortype-blue .mScoreDetail .score .tit em,
#colortype-blue .iLive .reply .refresh p em,
#colortype-blue .iLive .reply .tx em,
#colortype-blue .iLive .reply .write .textarea,
#colortype-blue .iLive .reply .con .cnt,
#colortype-blue .iLive .reply .con .cnt .tit,
#colortype-blue .iLive .reply .con .cnt .tit em,
#colortype-blue .iLive .reply .con .list li .txt .d,
#colortype-blue .iLive .reply .con .list li .txt .t,
#colortype-blue .iLive .twitter .tx em,
#colortype-blue .mTitle4 h4 em,
#colortype-blue .mSTicket p .tit,
#colortype-blue .scoreMap .con2 .way dt,
#colortype-blue .scoreGuideLions .bd .con1 .tit,
#colortype-blue .scoreCard .bd .tit,
#colortype-blue .toSeason h5,
#colortype-blue .conditionScore h4 em,
#colortype-blue .iWin,
#colortype-blue .iLose,
#colortype-blue .playerNum .direct .bd li.selected a,
#colortype-blue .playerNum .direct .bd li a:hover,
#colortype-blue .playerNum .result .tit,
#colortype-blue .playerNum .result .tit em,
#colortype-blue .playerNum .result li .txt .a,
#colortype-blue .playerNum .result li .txt .b,
#colortype-blue .playerNum .result li .txt .c,
#colortype-blue .playerNum .result li .txt .b em,
#colortype-blue .mTab3 li a,
#colortype-blue .mTab3 li .tit,
#colortype-blue .mTab3 ul ul li a span,
#colortype-blue .history .con h5,
#colortype-blue .history .con em,
#colortype-blue .historyLegend .navi .tx1 em,
#colortype-blue .historyLegend .navi .tx1 strong,
#colortype-blue .historyLegend .con h4 em,
#colortype-blue .historyLegend .con .co .t,
#colortype-blue .historyLegend .con .co .tit,
#colortype-blue .historyLegend .con .co .c .ti,
#colortype-blue .historyCeo .ceo h4 .n strong,
#colortype-blue .historyCeo .ceo h4 .t em,
#colortype-blue .historyCeo .ceo .info .date,
#colortype-blue .historyCeo .ceo h5,
#colortype-blue .historyCeo .ceo dt,
#colortype-blue .historyCeo .ceolist li .txt strong,
#colortype-blue .historyManager .manager dt,
#colortype-blue .historyManager .managerlist li .txt strong,
#colortype-blue .historyManager .managerlist li .txt2 em,
#colortype-blue .historyFront .list dt,
#colortype-blue .historyFront .list dd .detail .n,
#colortype-blue .historyFront .list dd .detail .t,
#colortype-blue .historyTeam .con li .d,
#colortype-blue .fightSong .list li .txt,
#colortype-blue .fightSong .list2 li .txt em,
#colortype-blue .wallpaper .mBox2 .list li .txt em,
#colortype-blue .wallpaper .player .hd h4 em,
#colortype-blue .fanclub .list1 li .txt .ti,
#colortype-blue .fanclub .list1 li .txt .tx,
#colortype-blue .fanclub .list1 li .txt .ur,
#colortype-blue textarea,
#colortype-blue .myInfo .con1 .name .t,
#colortype-blue .myInfo .con1 .name .tx,
#colortype-blue .myInfo .con2 .tx1 .ti em,
#colortype-blue .myInfo .con2 .tx1 .ti,
#colortype-blue .myInfo .con2 .tx2 .ti,
#colortype-blue .myInfo .con2 .tx2 .ti2,
#colortype-blue .myInfo .con2 .tx2 .ti2 em,
#colortype-blue .mNolist p .tx,
#colortype-blue .mTitle5 p.count em,
#colortype-blue .managePWithdrawal .tit,
#colortype-blue .managePWithdrawal .tit em,
#colortype-blue .mForm1 .input span.c .it input,
#colortype-blue .mLaw .bd .tit,
#colortype-blue .lawEmail .bd .txt em,
#colortype-blue .lawEmail .bd .date,
#colortype-blue .playerNews .gLeft li .c,
#colortype-blue .playerNews .gLeft li .d,
#colortype-blue .bestPlayer .con .txt{color:#9fcfff;} /* light blue */

#colortype-blue .branch .bd li,
#colortype-blue .branch .bd li a,
#colortype-blue .mainLink .bd li .tit strong,
#colortype-blue .mainLink .bd li .txt,
#colortype-blue .mainLink .bd li .txt a,
#colortype-blue .mainLink .bd li .tit,
#colortype-blue .mSearch2 label,
#colortype-blue #gnb2Dep ul li a,
#colortype-blue .mTab3 li.selected a,
#colortype-blue .mDate .month dt.selected a,
#colortype-blue .mBoard4 tbody tr.selected td,
#colortype-blue .mBoard4 tbody tr.selected td .mTxt5,
#colortype-blue .mBoard4 tfoot td,
#colortype-blue .mBoard4 tfoot .mTxt5,
#colortype-blue .playerNum .con .info2,
#colortype-blue .mSearch2 .keyword,
#colortype-blue .mLions21 .tableCon li a,
#colortype-blue .mLions21 .co .imgTxt,
#colortype-blue .mTab1 li.selected a,
#colortype-blue .it3,
#colortype-blue .mAttach .lst .ls li.selected .name,
#colortype-blue .mAttach .lst .ls li.selected .size,
#colortype-blue .mArticle2 .info .t,
#colortype-blue .mArticle2 .writer .t,
#colortype-blue .mArticle2 .writer .c,
#colortype-blue .mArticle2 .info .peo .c,
#colortype-blue #popRManage .bd .con2,
/*#colortype-blue #popRManage .bd .con3 .textarea,*/
#colortype-blue .mReply .write .textarea,
#colortype-blue .mBoard2 .admin td.tit,
#colortype-blue .mBoard2 .admin td.tit a,
#colortype-blue .mBoard2 .admin td.dat,
#colortype-blue .mBoard2 .admin td.inq,
#colortype-blue .mArticle2 .tit2,
#colortype-blue .mForm2 .info,
#colortype-blue .mTab2 li.selected a span,
#colortype-blue .iLive .reply .warn,
#colortype-blue .iLive .twitter .tit p,
#colortype-blue .mPopup .ft .mBtn1 a,
#colortype-blue .mPopup .ft .mBtn2 a,
#colortype-blue .popZipcode .ft .mBtn2 a,
#colortype-blue .playerNum .direct .bd li a,
#colortype-blue .mTab3 li.selected a,
#colortype-blue .mTab3 li.selected .tit,
#colortype-blue .mReply .tit,
#colortype-blue .replyPlayer .mReply .write .tit h4,
#colortype-blue .replyPlayer .mReply .write .tit h4 strong,
#colortype-blue .replyPlayer .mReply .write .tit h4 span.to,
#colortype-blue .historyFront .navi li a,
#colortype-blue .historyTeam .tab ul li.selected .tit a,
#colortype-blue #popRManage .bd .con2 label,
#colortype-blue .lProfile li a{color:#00f;} /* dark blue */

#colortype-blue .keyMain h2 strong,
#colortype-blue .keyMain .info,
#colortype-blue .keyMain .info2 .t,
#colortype-blue .keySub h2 strong,
#colortype-blue .keySub .info,
#colortype-blue .keySub .mSearch2 label,
#colortype-blue .mPaging strong,
#colortype-blue .keyEtc h2,
#colortype-blue .keyEtc .info{color:#fff;} /* white */

#colortype-blue .fanGrid3 .wallpaper .ban h4,
#colortype-blue .fanGrid3 .wallpaper .ban p,
#colortype-blue .mBtn3 a,
#colortype-blue .mBtn4 a span,
#colortype-blue .mBtn3s a span,
#colortype-blue .mBtn5 a span{color:#00050f;} /* black */

#colortype-blue .mSearch2,
#colortype-blue .mSearch .keyword,
#colortype-blue .mBoard2 thead th,
#colortype-blue .mIntro .bd .titleBg,
#colortype-blue .mBoard2dl dt,
#colortype-blue .mBoard2dl dd,
#colortype-blue .mBoard2dl .title,
#colortype-blue .fanGrid4,
#colortype-blue .history .con h4,
#colortype-blue .mTitle4.line,
#colortype-blue .mGrid1,
#colortype-blue .mBoard4 table,
#colortype-blue .playerNum .con .bd,
#colortype-blue .mLions21 .tableCon,
#colortype-blue .mLions21 .tab,
#colortype-blue .mTab1 ul,
#colortype-blue .mBox1,
#colortype-blue .it3,
#colortype-blue .mAttach .lst .ti,
#colortype-blue .mAttach .lst .ls,
#colortype-blue #popRManage .bd .con3 .textarea,
#colortype-blue .mArticle2,
#colortype-blue .mBoard2 tbody th,
#colortype-blue .mBoard2 tbody td,
#colortype-blue .mReply ul li,
#colortype-blue .lCutoff,
#colortype-blue .mList1 .hd,
#colortype-blue .mList1 .hd .bar,
#colortype-blue .it,
#colortype-blue .registerStep1 .bd .agree .law,
#colortype-blue .popZipcode .bd .search .keyword,
#colortype-blue select,
#colortype-blue .frontstep .con1,
#colortype-blue .frontstep .con1 dt,
#colortype-blue .frontstep .con2 dl,
#colortype-blue .frontstep .con3 dl,
#colortype-blue .frontstep .con3 dt,
#colortype-blue .mArticle2 .tit,
#colortype-blue .mArticle2 .tit2,
#colortype-blue .mTab4 li.selected a,
#colortype-blue .mPicture,
#colortype-blue .statium .con2 .co .list li .c,
#colortype-blue .statium .con2 .co,
#colortype-blue .mPicture .navi ul,
#colortype-blue .mPicture .navi,
#colortype-blue .mVr h4,
#colortype-blue .mVr .gLeft,
#colortype-blue .statiumNew .con3 .co,
#colortype-blue .subsidiary .hd,
#colortype-blue .subsidiary .con4 dt,
#colortype-blue .subsidiary .con4 .bd,
#colortype-blue .mList3 li .img,
#colortype-blue .staffList .fString,
#colortype-blue .staffList .sString,
#colortype-blue .introManager .score .d,
#colortype-blue .introManager .score .w,
#colortype-blue .mRoster1 .list,
#colortype-blue .mList4,
#colortype-blue .iLive,
#colortype-blue .iLive .reply,
#colortype-blue .iLive .reply .write .textarea,
#colortype-blue .iLive .reply .con .cnt,
#colortype-blue .mBoard3,
#colortype-blue .mBoard3.noline,
#colortype-blue .mBoard3 th,
#colortype-blue .mBoard3 td,
#colortype-blue .scoreMap .con2 .way dt,
#colortype-blue .scoreMap .con2 .way,
#colortype-blue .playerNum .find .back .t,
#colortype-blue .playerNum .result,
#colortype-blue .historyLegend .con h4,
#colortype-blue .historyLegend .navi li,
#colortype-blue .historyCeo .ceo h5,
#colortype-blue .historyCeo .ceolist li,
#colortype-blue .historyManager .managerlist li,
#colortype-blue .historyManager .managerlist li .txt,
#colortype-blue .historyFront .list,
#colortype-blue .historyFront .list dd .detail,
#colortype-blue .historyTeam .tab,
#colortype-blue .historyTeam .tab ul ul,
#colortype-blue .mBoard5,
#colortype-blue .mBoard5 thead th,
#colortype-blue .mBoard5 td,
#colortype-blue .mList2 li .img,
#colortype-blue .mArticle2 .con .imgCon img,
#colortype-blue .wallpaper .mBox2 .list li .img,
#colortype-blue .fanSns .con li,
#colortype-blue .fanSns .con li .img img,
#colortype-blue .fanclub .list1 li .img,
#colortype-blue #popSMessage .textarea,
#colortype-blue .mLaw .hd h3,
#colortype-blue .lawEmail .hd h3,
#colortype-blue .sitemap .con h4,
#colortype-blue .sitemap .con li ul,
#colortype-blue .introGrid1,
#colortype-blue .statiumGs .con2 .gLeft .list,
#colortype-blue .mVr .gRight .tit,
#colortype-blue .mVr .gRight .txt2{border-color:#9fcfff;} /* border color light blue */

#colortype-blue .mSearch2 .keyword,
#colortype-blue .mReply .write .textarea,
#colortype-blue .mBoard2 .admin td,
#colortype-blue .mList4 li.selected a .cov,
#colortype-blue .mList4 li a:hover .cov,
#colortype-blue .mScoreDetail .con2,
#colortype-blue .historyManager .manager dl,
#colortype-blue .lProfile ul{border-color:#0000fe;} /* border color dark blue */
#colortype-blue .mTab3 li a,
#colortype-blue .mTab3 li .tit,
#colortype-blue .mIntro2 .lst li.first,
#colortype-blue .mDate .month dt,
#colortype-blue .mBoard2,
#colortype-blue .mBoard2dl,
#colortype-blue .mBoard4,
#colortype-blue .mTab1 ul,
#colortype-blue .mBox1,
#colortype-blue .mWrite2,
#colortype-blue .mArticle2,
#colortype-blue .mTitle1,
#colortype-blue .mTab2 li a,
#colortype-blue .mTab2 li a span,
#colortype-blue .playerNum .direct .bd li a,
#colortype-blue .replyPlayer .icon,
#colortype-blue .replyPlayer .mReply{background-image:none;} /* backimage none */
#colortype-blue .keySub .mSearch2,
#colortype-blue .mBoard3 table,
#colortype-blue .mBoard3 thead th,
#colortype-blue .mPaging a,
#colortype-blue .mPaging strong,
#colortype-blue .toGraph .hd,
#colortype-blue .mBoard4 table,
#colortype-blue .playerNum .con .bd,
#colortype-blue .mBoard6 thead tr th,
#colortype-blue .mBoard2 tbody .upload th,
#colortype-blue .mBoard2 tbody .upload td,
#colortype-blue .mAttach,
#colortype-blue .mBoard1,
#colortype-blue .mScoreDetail .score table,
#colortype-blue .mScoreDetail .con2,
#colortype-blue .iLive .reply .con,
#colortype-blue .iLive .twitter,
#colortype-blue .mBoard3 tbody td.bg,
#colortype-blue .mBoard3 tbody .bg2,
#colortype-blue .scoreMap .con2 .way dt,
#colortype-blue .playerNum .result,
#colortype-blue .mBoard4 tbody th.bg,
#colortype-blue .mTab3 ul ul,
#colortype-blue .mTab3 ul ul li.selected,
#colortype-blue .historyManager .managerlist li,
#colortype-blue .mBoard5 table{background-color:transparent;} /* backimage transparent */
#colortype-blue .mIntro2 .hd h3{background-image:url(/img/intro/k_intro_blue.png);}
#colortype-blue .mIntro2 .lst li,
#colortype-blue .mIntro2 .lst ul,
#colortype-blue .fanGrid3 .lst li,
#colortype-blue .fanGrid3 .lst ul,
#colortype-blue .mList1 .bd li{background-image:url(/img/common/k_line2_blue.png);}
#colortype-blue .mRoster2 .hd h3,
#colortype-blue .playerGallery .hd h3,
#colortype-blue .playerGraph .hd h3,
#colortype-blue .bestPitcher .hd h3,
#colortype-blue .playerNews .hd h3{background-image:url(/img/roster/k_roster_blue.png);}
#colortype-blue .fanGrid3 .tit h3,
#colortype-blue .photoMovie .tit h3{background-image:url(/img/fan/k_fanmain_blue.png);}
#colortype-blue .notice .tit h3{background:none;}
#colortype-blue .history .con h4 span,
#colortype-blue .history .con .iTop a{background-image:url(/img/history/k_history_blue.png);}
#colortype-blue .rgResult .hd h3,
#colortype-blue .bestPlayer .hd h3{background-image:url(/img/stat/k_stat_blue.png);}
#colortype-blue .mTab4 ul{background-image:url(/img/intro/k_emblem_blue.png);}
#colortype-blue .staffList .fString .hd h4,
#colortype-blue .staffList .sString .hd h4,
#colortype-blue .pitcher .hd h4,
#colortype-blue .hitter .hd h4{background-image:url(/img/roster/k_roster_blue.png);}
#colortype-blue .mainLink .bd li .txt,
#colortype-blue .lionMedia .hd h3,
#colortype-blue .lionMedia .bd li .txt .t,
#colortype-blue .lionMedia .bd li.photo .txt .t,
#colortype-blue .lionMedia .bd li .txt li,
#colortype-blue .lionMedia .bd li.support .txt .t{background-image:url(/img/main/k_main_blue.png);}
/* colortypeblue etc */
#colortype-blue .mBoard4 thead th{border-bottom:1px solid #9fcfff;}
#colortype-blue .mBoard2,
#colortype-blue .mBoard2dl,
#colortype-blue .mBoard4,
#colortype-blue .mBox1,
#colortype-blue .mArticle2,
#colortype-blue .replyPlayer .icon{border-top:2px solid #9fcfff;}
#colortype-blue .mBoard2,
#colortype-blue .mBoard2dl,
#colortype-blue .mBoard4,
#colortype-blue .mArticle2{padding-top:0;}
#colortype-blue .mWrite2{border-bottom:2px solid #9fcfff;}
#colortype-blue .mTitle1{border-bottom:1px dashed #9fcfff;}
#colortype-blue .mIntro .bd .titleBg h4 em{position:absolute;top:0;left:-9999px;}
#colortype-blue .mTab2 li a{border:1px solid #9fcfff;border-bottom:0;}



/* skin - black */
#colortype-black.main,
#colortype-black .playerNews,
#colortype-black .mBoard4 tbody tr.selected,
#colortype-black .mBoard4 tfoot,
#colortype-black .playerNum .con .info2,
#colortype-black .mSearch2,
#colortype-black .mSearch2 .keyword,
#colortype-black .mLions21 .tableCon,
#colortype-black .mLions21 .co .imgTxt,
#colortype-black .it3,
#colortype-black .mAttach .lst .ls li.selected,
#colortype-black .mArticle2 .tit2,
#colortype-black #popRManage .bd .con2,
#colortype-black .mReply .write,
#colortype-black .mReply .write .textarea,
#colortype-black .popZipcode .ft,
#colortype-black .mForm2 .info,
#colortype-black .mPicture .navi ul,
#colortype-black .mTab2 li.selected a,
#colortype-black .mList4,
#colortype-black .iLive .reply .warn,
#colortype-black .mPopup .ft,
#colortype-black .playerNum .direct .bd li a,
#colortype-black .historyFront .navi li,
#colortype-black .historyTeam .tab ul li.selected .tit,
#colortype-black .lProfile{background-color:#000;} /* black */

#colortype-black,
#colortype-black .mSearch .keyword,
#colortype-black .mTab4 li.selected a,
#colortype-black .mBoard4 thead th,
#colortype-black #gnb2Dep ul li.selected,
#colortype-black .playerNum .find .back .t,
#colortype-black .mBoard2 thead th,
#colortype-black .mBoard2 table,
#colortype-black .introGrid1,
#colortype-black .lCutoff,
#colortype-black .it,
#colortype-black .it input,
#colortype-black .popZipcode .bd,
#colortype-black .popZipcode .bd .search .keyword,
#colortype-black select,
#colortype-black .iLive,
#colortype-black .iLive .reply .write .textarea,
#colortype-black .mBoard3 tbody th,
#colortype-black .playerNum .direct .bd li.selected a,
#colortype-black .playerNum .direct .bd li a:hover,
#colortype-black .historyFront .list dd .detail,
#colortype-black .mBox2 .list,
#colortype-black textarea,
#colortype-black .mList1 li .img .i{background-color:#000;} /* dark blue */

#colortype-black,
#colortype-black body,
#colortype-black li,
#colortype-black td,
#colortype-black label,
#colortype-black h1,
#colortype-black h2,
#colortype-black input,
#colortype-black button,
#colortype-black p,
#colortype-black a,
#colortype-black .lionMedia .bd li .txt li,
#colortype-black .mIntro2 .lst li .d,
#colortype-black .breadcrumb em,
#colortype-black .mIntro .bd .titleBg .t,
#colortype-black .mIntro .bd .titleBg h4,
#colortype-black .mTitle4 .s,
#colortype-black .mTitle4 .s2,
#colortype-black .greeting .con1 .co .thank em,
#colortype-black .greeting .con1 .co .thank,
#colortype-black .greeting .con1 .co .t,
#colortype-black .greeting .con1 .co .t em,
#colortype-black .ceoKimin .sign span,
#colortype-black .mList1 li .tit em,
#colortype-black .mList1 li .txt,
#colortype-black .mList1 li .dat,
#colortype-black .photoMovie .con .ti,
#colortype-black .history .con dt,
#colortype-black .history .con dd,
#colortype-black .bestPlayer .list li .txt .n span em,
#colortype-black .bestPlayer .list li.first .txt .n span,
#colortype-black .bestPlayer .list li.first .txt .n,
#colortype-black .bestPlayer .list li em,
#colortype-black .bestPlayer .list li,
#colortype-black .bestPlayer .list li .txt .n span,
#colortype-black .bestPlayer .list li .txt .n,
#colortype-black .rgResult .list .mTxt8,
#colortype-black .toSeason .mDate .year .tit,
#colortype-black .mDate .year .tit,
#colortype-black .mTxt2,
#colortype-black .mTxt3,
#colortype-black .mTxt4,
#colortype-black .mTxt5,
#colortype-black .mTxt6,
#colortype-black .mTxt7,
#colortype-black .mTxt8,
#colortype-black .playerNum .find label,
#colortype-black .playerNum .find .back .t,
#colortype-black .mLions21 .co .t,
#colortype-black .mBoard2dl .title,
#colortype-black .mBoard2dl dt .num,
#colortype-black .mBoard2dl dt .dat,
#colortype-black .mBoard2dl dt .tit,
#colortype-black .mBoard2dl dd .t,
#colortype-black .mCount2 .c1 strong,
#colortype-black .mCount2 .c1 em,
#colortype-black .mCount2 .c1,
#colortype-black .mCount2 .tx em,
#colortype-black .mCount1,
#colortype-black .mAttach .tot,
#colortype-black .mAttach .lst .ti,
#colortype-black .mAttach .tot .gLeft strong,
#colortype-black .mAttach .tot .gLeft em,
#colortype-black .mAttach .lst .name,
#colortype-black .mAttach .lst .size,
#colortype-black .mProfile .txt strong,
#colortype-black .mProfile .txt,
#colortype-black #popRManage .bd .con1,
#colortype-black #popRManage .bd .con3 p,
#colortype-black .mReply ul li .txt .ti .da,
#colortype-black .mReply ul li .txt .ti .na a em,
#colortype-black .lCutoff,
#colortype-black .mList1 .bd li em,
#colortype-black .login .more li,
#colortype-black .mFind1 .bd .con .tit,
#colortype-black .mTitle1 h3 em,
#colortype-black .mFind2 .bd legend,
#colortype-black .modifyPw .mForm1 .input .mInfo2,
#colortype-black .mForm1 .input label em,
#colortype-black .registerStep4 .con p .tx em,
#colortype-black .registerStep4 .con .tit,
#colortype-black .popZipcode .bd .search .keyword,
#colortype-black .mTitle3 h3 em,
#colortype-black .mInfo2,
#colortype-black select,
#colortype-black .mForm1 .image .tit,
#colortype-black .mInfo3 em,
#colortype-black .mForm2 .con .tit,
#colortype-black .frontstep dd em,
#colortype-black .frontstep dd .t,
#colortype-black .greeting .con1 .info em,
#colortype-black .greeting .con h6,
#colortype-black .greeting .con dt em,
#colortype-black .greeting .con dd .t,
#colortype-black .mBoard2 tbody td.tit .re,
#colortype-black .statium .con2 .co .list li .t,
#colortype-black .statium .con2 .co .list li .c,
#colortype-black .statiumDaegu .con2 .gRight .co li .t,
#colortype-black .statiumDaegu .con2 .gRight .co li .c,
#colortype-black .mVr .gRight .tit,
#colortype-black .mVr .gRight li .tx,
#colortype-black .subsidiary .con2 .gLeft .t,
#colortype-black .subsidiary .bd .gRight .t,
#colortype-black .subsidiary .con3 dd .t,
#colortype-black .subsidiary .con3 dd .t2,
#colortype-black .subsidiary .con4 dt,
#colortype-black .introManager .score .t,
#colortype-black .introManager .score .d,
#colortype-black .introManager .score .w,
#colortype-black .introManager .score em,
#colortype-black .playerGraph .hd .link .t,
#colortype-black .mTab2 li a span,
#colortype-black .mScore2 .sco,
#colortype-black .mScore2 .vs,
#colortype-black .mScore2 .sco,
#colortype-black .mScore2 .nam,
#colortype-black .mScore2 img,
#colortype-black .mScoreDetail .gLeft,
#colortype-black .mScoreDetail .gRight,
#colortype-black .mScoreDetail .score .tit em,
#colortype-black .iLive .reply .refresh p em,
#colortype-black .iLive .reply .tx em,
#colortype-black .iLive .reply .write .textarea,
#colortype-black .iLive .reply .con .cnt,
#colortype-black .iLive .reply .con .cnt .tit,
#colortype-black .iLive .reply .con .cnt .tit em,
#colortype-black .iLive .reply .con .list li .txt .d,
#colortype-black .iLive .reply .con .list li .txt .t,
#colortype-black .iLive .twitter .tx em,
#colortype-black .mSTicket p .tit,
#colortype-black .scoreMap .con2 .way dt,
#colortype-black .scoreGuideLions .bd .con1 .tit,
#colortype-black .scoreCard .bd .tit,
#colortype-black .toSeason h5,
#colortype-black .conditionScore h4 em,
#colortype-black .iWin,
#colortype-black .iLose,
#colortype-black .playerNum .direct .bd li.selected a,
#colortype-black .playerNum .direct .bd li a:hover,
#colortype-black .playerNum .result .tit,
#colortype-black .playerNum .result .tit em,
#colortype-black .playerNum .result li .txt .a,
#colortype-black .playerNum .result li .txt .b,
#colortype-black .playerNum .result li .txt .c,
#colortype-black .playerNum .result li .txt .b em,
#colortype-black .mTab3 li a,
#colortype-black .mTab3 li .tit,
#colortype-black .mTab3 ul ul li a span,
#colortype-black .history .con h5,
#colortype-black .history .con em,
#colortype-black .historyLegend .navi .tx1 em,
#colortype-black .historyLegend .navi .tx1 strong,
#colortype-black .historyLegend .con h4 em,
#colortype-black .historyLegend .con .co .t,
#colortype-black .historyLegend .con .co .tit,
#colortype-black .historyLegend .con .co .c .ti,
#colortype-black .historyCeo .ceo h4 .n strong,
#colortype-black .historyCeo .ceo h4 .t em,
#colortype-black .historyCeo .ceo .info .date,
#colortype-black .historyCeo .ceo h5,
#colortype-black .historyCeo .ceo dt,
#colortype-black .historyCeo .ceolist li .txt strong,
#colortype-black .historyManager .manager dt,
#colortype-black .historyManager .managerlist li .txt strong,
#colortype-black .historyManager .managerlist li .txt2 em,
#colortype-black .historyFront .list dt,
#colortype-black .historyFront .list dd .detail .n,
#colortype-black .historyFront .list dd .detail .t,
#colortype-black .historyTeam .con li .d,
#colortype-black .fightSong .list li .txt,
#colortype-black .fightSong .list2 li .txt em,
#colortype-black .wallpaper .mBox2 .list li .txt em,
#colortype-black .wallpaper .player .hd h4 em,
#colortype-black .fanclub .list1 li .txt .ti,
#colortype-black .fanclub .list1 li .txt .tx,
#colortype-black .fanclub .list1 li .txt .ur,
#colortype-black textarea,
#colortype-black .myInfo .con1 .name .t,
#colortype-black .myInfo .con1 .name .tx,
#colortype-black .myInfo .con2 .tx1 .ti em,
#colortype-black .myInfo .con2 .tx1 .ti,
#colortype-black .myInfo .con2 .tx2 .ti,
#colortype-black .myInfo .con2 .tx2 .ti2,
#colortype-black .myInfo .con2 .tx2 .ti2 em,
#colortype-black .mNolist p .tx,
#colortype-black .mTitle5 p.count em,
#colortype-black .managePWithdrawal .tit,
#colortype-black .managePWithdrawal .tit em,
#colortype-black .mForm1 .input span.c .it input,
#colortype-black .mLaw .bd .tit,
#colortype-black .lawEmail .bd .txt em,
#colortype-black .lawEmail .bd .date,
#colortype-black .mArticle2 .info .t,
#colortype-black .mArticle2 .info .c,
#colortype-black .mArticle2 .writer .t,
#colortype-black .mArticle2 .writer .c,
#colortype-black .it3,
#colortype-black #gnb2Dep ul li a,
#colortype-black .playerNews .gLeft li .d,
#colortype-black .playerNews .gLeft li .c,
#colortype-black .bestPlayer .con .txt{color:#0ff;} /* light blue */


#colortype-black .branch .bd li,
#colortype-black .mainLink .bd li .txt,
#colortype-black .mainLink .bd li .txt a,
#colortype-black .mBoard4 tbody tr.selected td,
#colortype-black .mBoard4 tbody tr.selected td .mTxt5,
#colortype-black .mBoard4 tfoot td,
#colortype-black .mBoard4 tfoot .mTxt5,
#colortype-black .playerNum .con .info2,
#colortype-black .mSearch2 .keyword,
#colortype-black .mLions21 .tableCon li a,
#colortype-black .mLions21 .co .imgTxt,
#colortype-black .mAttach .lst .ls li.selected .name,
#colortype-black .mAttach .lst .ls li.selected .size,
#colortype-black #popRManage .bd .con2,
/*#colortype-black #popRManage .bd .con3 .textarea,*/
#colortype-black .mReply .write .textarea,
#colortype-black .mBoard2 .admin td.tit,
#colortype-black .mBoard2 .admin td.tit a,
#colortype-black .mBoard2 .admin td.dat,
#colortype-black .mBoard2 .admin td.inq,
#colortype-black .mForm2 .info,
#colortype-black .mTab2 li.selected a span,
#colortype-black .iLive .reply .warn,
#colortype-black .iLive .twitter .tit p,
#colortype-black .mPopup .ft .mBtn1 a,
#colortype-black .mPopup .ft .mBtn2 a,
#colortype-black .popZipcode .ft .mBtn2 a,
#colortype-black .playerNum .direct .bd li a,
#colortype-black .mTab3 li.selected .tit,
#colortype-black .mReply .tit,
#colortype-black .replyPlayer .mReply .write .tit h4,
#colortype-black .replyPlayer .mReply .write .tit h4 strong,
#colortype-black .replyPlayer .mReply .write .tit h4 span.to,
#colortype-black .historyFront .navi li a,
#colortype-black .historyTeam .tab ul li.selected .tit a,
#colortype-black #popRManage .bd .con2 label{color:#ff0;} /* yellow orginal */

#colortype-black .historyLegend .navi .tx2 strong,
#colortype-black .mTitle4 h4 em,
#colortype-black h3,
#colortype-black h3 a,
#colortype-black h4,
#colortype-black h5,
#colortype-black .mTab4 li a,
/*
#colortype-black .ceoKimin .info,
#colortype-black .ceoKimin .info .t1,
#colortype-black .ceoKimin .info .t2,
#colortype-black .ceoKimin .info .t3,
#colortype-black .ceoKimin .info .t4,
*/
#colortype-black .frontstep dt,
#colortype-black .frontstep .con1 dt,
#colortype-black .frontstep h4,
#colortype-black .mTitle1 h2,
#colortype-black .mTitle1 h2 em,
#colortype-black .mTxt1,
#colortype-black .fanGrid4 .hd h3 a,
#colortype-black .fanGrid3 .con .ti,
#colortype-black .fanGrid3 .con .ti a,
#colortype-black .mAttach .lst strong.t,
#colortype-black .lProfile .tit,
#colortype-black .lCutoff label,
#colortype-black .mArticle2 .tit h4,
#colortype-black .mCount1 em,
#colortype-black th,
#colortype-black .mList1 .hd h4,
#colortype-black .mBoard2 tbody td.tit .re,
#colortype-black #gnb2Dep ul li.selected a,
#colortype-black .mPaging strong,
#colortype-black .mSearch select,
#colortype-black .mSearch .keyword,
#colortype-black .mList1 li .tit,
#colortype-black .mTitle4 h3 em,
#colortype-black .mSearch2 label,
#colortype-black .mRoster2 .btn a,
#colortype-black .introGrid1 h3 a,
#colortype-black .mIntro2 .btn a,
#colortype-black .mIntro2 .lst .first a,
#colortype-black .breadcrumb em,
#colortype-black .branch .bd li a,
#colortype-black .mainLink .bd li .tit,
#colortype-black .mainLink .bd li .tit strong,
#colortype-black .photoMovie .con .ti a,
#colortype-black .notice .tit h3{color:#ff0;} /* yellow */

#colortype-black .popZipcode .hd h1{color: #2a3a71;}

#colortype-black .mBoard2 .admin td,
#colortype-black #gnb2Dep,
#colortype-black .lionMedia{background-color:#20252a;}

#colortype-black .mDate .month dt.selected,
#colortype-black .mTab3 li.selected,
#colortype-black .mTab1 li.selected a{background-color:#0ff;}

#colortype-black .keyMain h2 strong,
#colortype-black .keyMain .info,
#colortype-black .keyMain .info2 .t,
#colortype-black .keySub h2 strong,
#colortype-black .keySub .info,
#colortype-black .keySub .mSearch2 label,
#colortype-black .keyEtc h2,
#colortype-black .keyEtc .info{color:#fff;} /* white */

#colortype-black .fanGrid3 .wallpaper .ban h4,
#colortype-black .fanGrid3 .wallpaper .ban p,
#colortype-black .mBtn3 a,
#colortype-black .mBtn4 a span,
#colortype-black .mBtn3s a span,
#colortype-black .mBtn5 a span,
#colortype-black .mDate .month dt.selected a,
#colortype-black .iLive .reply .refresh a span,
#colortype-black .mCalendar .calendar .cal th,
#colortype-black .mTab3 li.selected a,
#colortype-black .mTab1 li.selected a{color:#00050f;} /* black */

#colortype-black .mSearch2,
#colortype-black .mBoard2 thead th,
#colortype-black .mIntro .bd .titleBg,
#colortype-black .mBoard2dl dt,
#colortype-black .mBoard2dl dd,
#colortype-black .mBoard2dl .title,
#colortype-black .fanGrid4,
#colortype-black .history .con h4,
#colortype-black .mTitle4.line,
#colortype-black .mGrid1,
#colortype-black .mBoard4 table,
#colortype-black .playerNum .con .bd,
#colortype-black .mLions21 .tableCon,
#colortype-black .mLions21 .tab,
#colortype-black .mTab1 ul,
#colortype-black .mBox1,
#colortype-black .it3,
#colortype-black .mAttach .lst .ti,
#colortype-black .mAttach .lst .ls,
#colortype-black #popRManage .bd .con3 .textarea,
#colortype-black .mArticle2,
#colortype-black .mBoard2 tbody th,
#colortype-black .mBoard2 tbody td,
#colortype-black .mReply ul li,
#colortype-black .it,
#colortype-black .registerStep1 .bd .agree .law,
#colortype-black .popZipcode .bd .search .keyword,
#colortype-black .frontstep .con1,
#colortype-black .frontstep .con1 dt,
#colortype-black .frontstep .con2 dl,
#colortype-black .frontstep .con2 dd,
#colortype-black .frontstep .con3 dl,
#colortype-black .frontstep .con3 dt,
#colortype-black .frontstep .con3 dd,
#colortype-black .mArticle2 .tit,
#colortype-black .mArticle2 .tit2,
#colortype-black .mPicture,
#colortype-black .statium .con2 .co .list li .c,
#colortype-black .statium .con2 .co,
#colortype-black .mPicture .navi ul,
#colortype-black .mPicture .navi,
#colortype-black .mVr h4,
#colortype-black .mVr .gLeft,
#colortype-black .statiumNew .con3 .co,
#colortype-black .subsidiary .hd,
#colortype-black .subsidiary .con4 dt,
#colortype-black .subsidiary .con4 .bd,
#colortype-black .mList3 li .img,
#colortype-black .staffList .fString,
#colortype-black .staffList .sString,
#colortype-black .introManager .score .d,
#colortype-black .introManager .score .w,
#colortype-black .mRoster1 .list,
#colortype-black .mList4,
#colortype-black .iLive,
#colortype-black .iLive .reply,
#colortype-black .iLive .reply .write .textarea,
#colortype-black .iLive .reply .con .cnt,
#colortype-black .mBoard3,
#colortype-black .mBoard3.noline,
#colortype-black .mBoard3 th,
#colortype-black .mBoard3 td,
#colortype-black .scoreMap .con2 .way dt,
#colortype-black .scoreMap .con2 .way,
#colortype-black .playerNum .find .back .t,
#colortype-black .playerNum .result,
#colortype-black .historyLegend .con h4,
#colortype-black .historyLegend .navi li,
#colortype-black .historyCeo .ceo h5,
#colortype-black .historyCeo .ceolist li,
#colortype-black .historyManager .managerlist li,
#colortype-black .historyManager .managerlist li .txt,
#colortype-black .historyFront .list,
#colortype-black .historyFront .list dd .detail,
#colortype-black .historyTeam .tab,
#colortype-black .historyTeam .tab ul ul,
#colortype-black .mBoard5,
#colortype-black .mBoard5 thead th,
#colortype-black .mBoard5 td,
#colortype-black .mList2 li .img,
#colortype-black .mArticle2 .con .imgCon img,
#colortype-black .wallpaper .mBox2 .list li .img,
#colortype-black .fanSns .con li,
#colortype-black .fanSns .con li .img img,
#colortype-black .fanclub .list1 li .img,
#colortype-black #popSMessage .textarea,
#colortype-black .mLaw .hd h3,
#colortype-black .lawEmail .hd h3,
#colortype-black .sitemap .con h4,
#colortype-black .sitemap .con li ul,
#colortype-black .introGrid1,
#colortype-black .lProfile .tit,
#colortype-black .lProfile ul,
#colortype-black .mBoard1,
#colortype-black .mBoard1 th,
#colortype-black .mBoard1 td,
#colortype-black .noresult,
#colortype-black .statiumGs .con2 .gLeft .list,
#colortype-black .mVr .gRight .tit,
#colortype-black .mVr .gRight .txt2,
#colortype-black .mBoard4.line tbody td,
#colortype-black .mBoard4 tbody th,
#colortype-black .mBoard4 tbody td,
#colortype-black .mBoard4 tfoot th,
#colortype-black .mBoard4 tfoot td,
#colortype-black .mTab3 li a,
#colortype-black .mTab3 li .tit,
#colortype-black .mTab3 ul{border-color:#0ff;} /* border color light blue */

#colortype-black .mArticle2 .tit2{border-bottom:1px solid #0ff;}

#colortype-black .lCutoff,
#colortype-black .mList1 .hd,
#colortype-black .mList1 .hd .bar,
#colortype-black .mSearch .keyword,
#colortype-black select,
#colortype-black .mSearch2 .keyword,
#colortype-black .mReply .write .textarea,
#colortype-black .mList4 li.selected a .cov,
#colortype-black .mList4 li a:hover .cov,
#colortype-black .mScoreDetail .con2,
#colortype-black .historyManager .manager dl,
#colortype-black .mTab4 li.selected a{border-color:#ff0;} /* border color yellow */

#colortype-black .mTab3 li a,
#colortype-black .mTab3 li .tit,
#colortype-black .mIntro2 .lst li.first,
#colortype-black .mDate .month dt,
#colortype-black .mBoard2,
#colortype-black .mBoard2dl,
#colortype-black .mBoard4,
#colortype-black .mTab1 ul,
#colortype-black .mBox1,
#colortype-black .mWrite2,
#colortype-black .mArticle2,
#colortype-black .mTitle1,
#colortype-black .mTab2 li a,
#colortype-black .mTab2 li a span,
#colortype-black .playerNum .direct .bd li a,
#colortype-black .replyPlayer .icon,
#colortype-black .replyPlayer .mReply{background-image:none;} /* backimage none */

#colortype-black .keySub .mSearch2,
#colortype-black .mBoard3 table,
#colortype-black .mBoard3 thead th,
#colortype-black .mPaging a,
#colortype-black .mPaging strong,
#colortype-black .toGraph .hd,
#colortype-black .mBoard4 table,
#colortype-black .playerNum .con .bd,
#colortype-black .mBoard6 thead tr th,
#colortype-black .mBoard2 tbody .upload th,
#colortype-black .mBoard2 tbody .upload td,
#colortype-black .mAttach,
#colortype-black .mBoard1,
#colortype-black .mScoreDetail .score table,
#colortype-black .mScoreDetail .con2,
#colortype-black .iLive .reply .con,
#colortype-black .iLive .twitter,
#colortype-black .mBoard3 tbody td.bg,
#colortype-black .mBoard3 tbody .bg2,
#colortype-black .scoreMap .con2 .way dt,
#colortype-black .playerNum .result,
#colortype-black .mBoard4 tbody th.bg,
#colortype-black .mTab3 ul ul,
#colortype-black .mTab3 ul ul li.selected,
#colortype-black .historyManager .managerlist li,
#colortype-black .mBoard5 table{background-color:transparent;} /* backimage transparent */

#colortype-black .mIntro2 .hd h3{background-image:url(/img/intro/k_intro_black.png);}
#colortype-black .mIntro2 .lst li,
#colortype-black .mIntro2 .lst ul,
#colortype-black .fanGrid3 .lst li,
#colortype-black .fanGrid3 .lst ul,
#colortype-black .mList1 .bd li{background-image:url(/img/common/k_line2_blue.png);}
#colortype-black .mRoster2 .hd h3,
#colortype-black .playerGallery .hd h3,
#colortype-black .playerGraph .hd h3,
#colortype-black .bestPitcher .hd h3,
#colortype-black .playerNews .hd h3{background-image:url(/img/roster/k_roster_black.png);}

#colortype-black .fanGrid3 .tit h3,
#colortype-black .photoMovie .tit h3{background-image:url(/img/fan/k_fanmain_black.png);}
#colortype-black .notice .tit h3{background:none;}

#colortype-black .history .con h4 span,
#colortype-black .history .con .iTop a{background-image:url(/img/history/k_history_black.png);}
#colortype-black .rgResult .hd h3,
#colortype-black .bestPlayer .hd h3{background-image:url(/img/stat/k_stat_black.png);}
#colortype-black .mTab4 ul{background-image:url(/img/intro/k_emblem_black.png);}
#colortype-black .staffList .fString .hd h4,
#colortype-black .staffList .sString .hd h4,
#colortype-black .pitcher .hd h4,
#colortype-black .hitter .hd h4{background-image:url(/img/roster/k_roster_black.png);}
#colortype-black .mainLink .bd li .txt,
#colortype-black .lionMedia .hd h3,
#colortype-black .lionMedia .bd li .txt .t,
#colortype-black .lionMedia .bd li.photo .txt .t,
#colortype-black .lionMedia .bd li .txt li,
#colortype-black .lionMedia .bd li.support .txt .t{background-image:url(/img/main/k_main_black.png);}

/* colortypeblue etc */
#colortype-black .mBoard4 thead th{border-bottom:1px solid #0ff;}

#colortype-black .mBoard2,
#colortype-black .mBoard2dl,
#colortype-black .mBox1,
#colortype-black .mArticle2,
#colortype-black .replyPlayer .icon{border-top:2px solid #ff0;}
#colortype-black .mBoard4{border-top:2px solid #0ff;}

#colortype-black .mBoard2,
#colortype-black .mBoard2dl,
#colortype-black .mBoard4,
#colortype-black .mArticle2{padding-top:0;}
#colortype-black .mWrite2{border-bottom:2px solid #ff0;}
#colortype-black .mTitle1{border-bottom:1px dashed #ff0;}
#colortype-black .mIntro .bd .titleBg h4 em{position:absolute;top:0;left:-9999px;}
#colortype-black .mTab2 li a{border:1px solid #0ff;border-bottom:0;}
